input[type=text], input[type=email] {
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid purple;
    width: 9%;
}

input[type=radio] + label {
    color: purple;
}

textarea {
    border: 2px solid purple;
    width: 11%;
}

input[type=submit], input[type=reset] {
    background-color: purple;
    color: white;
    width: 5.5%;
}

div{
    width: 11%;
    padding: 5px 5px;
    height: 80px;
    overflow: auto;
    background-color: purple;
    color: white;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

div:hover {
    width: 11%;
    height: 150px;
}