.btn{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family:sans-serif;
    width:243px;
    height: 153px;
    border-radius: 20px;
    color: white;
    background-color: #F91C85;
    cursor: pointer;
    box-shadow: 0px 4px 5px #00000040;
    border-style: none;
    cursor: pointer;
}
 .btn:disabled{
    background-color: gray;
} 
