.checkbox input{ 
    width:30px;
    height:30px;
    border-style: none;
    margin-left:80px;
    margin-top: 40px;
  }
  .container{
    display: flex;
    background-color: white;
    height: 310px;
    width: 1300px; 
    margin-left: 140px;
    border-radius: 15px;
    margin-top: -80px;
    margin-bottom: 70px;
  }
  .student{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 120px;
  }
  .containerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-left: 75px;
  }
  .timeStamp{
    display:flex;
    flex-direction: row;
    text-align: right;
    margin-left: 300px;
    margin-top: 50px;
  }
 
  
  