/* -------------------------- */
/*       Core Structure       */
/* -------------------------- */

body {
    background-color: #1a1e21;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the screen */
}

/* .top {
    padding: 20px;
} */

/* ----------------------- */
/*       Top Section       */
/* ----------------------- */

.top {
    display: flex;
    height: 10%; /* 10% of the screen */
    gap: 10px; /* space between the two middle sections */
    height: 10vh;
}

.name, .nav {
    flex: 1; /* 50:50 Split */
    padding: 20px;
}

.name {
    display: flex;
    text-align: left;
    font-family: Verdana;
    font-weight: 700;
    font-size: 100px;
    align-items: center;
    color: #bebebe;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    font-family: Verdana;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    color: #bebebe;
}

.nav-buttons {
    padding-right: 25px;
}

/* -------------------------- */
/*       Middle Section       */
/* -------------------------- */

.middle {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    gap: 20px; /* space between the two middle sections */
    padding: 20px;
}

h1 {
    padding-top: 100px;
    font-size: 40px;
    font-family: verdana;
    font-weight: 700;
    color: #bebebe;
    padding: 20px;
}

ul {
    padding-left: 60px;
}

.details {
    font-size: 20px;
    padding: 20px;
    font-family: verdana;
    font-weight: 400;
    color: #bebebe;
}

.about-panel, .contact-panel {
    flex: 1; /* 50:50 Split */
    padding: 20px;
}

.contact-panel {
    display: flex;
}

.contact-labels {
    display: flex;
    width: calc(5% - 20px);
    height: 140px;
    color: #bebebe;
}

.contact-entry {
    display: flex;
    width: calc(95%);
    height: 140px;
}


/* ------------------------ */
/*       Form Section       */
/* ------------------------ */

.form-entry {
    /* height: max-content; */
    width: calc(100%-40px);
    padding: 20px;
}

.submit {
    padding-top: 10px;
    padding-bottom: 10px;
}


.contact-labels {
    display: flex;
    flex-direction: column;
}

label {
    border: none;
    border-bottom: 2px solid #bebebe;
    margin-bottom: 20px;
}

.contact-entry {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    border: none;
    /* border-bottom: 2px solid #bebebe; */
}

.reason {
    color: #bebebe;
}

.message {
    color: #bebebe;
}

input[type=text], input[type=email], input[type=company] {
    border: none;
    border-bottom: 2px solid #bebebe;
    margin-bottom: 20px;
    width: 300px;
}

input[type=text] {
    margin-top: 1.2px;
}

/* -------------------------- */
/*       Bottom Section       */
/* -------------------------- */

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 125px;
    height: 100px;
}

.social-icon {
    width: 50px; /* Set the width and height of the container */
    height: 50px;
    background-size: cover; /* Ensure the background image covers the container */
}

.linkedin {
    align-items: flex-end;
    position: absolute;
    bottom: calc(0%-130px);
    right: calc(50% + 50px);
    background-image: url('../images/linkedin.png'); /* Set the default image */
}

.linkedin:hover {
    width: 205px;
    opacity: 1;
    background-image: url('../images/linkedin_expanded.png'); /* Set the hover image */
}

.mail {
    align-items: flex-end;
    position: absolute;
    bottom: calc(0%-130px);
    background-image: url('../images/mail.png'); /* Set the default image */
}

.mail:hover {
    align-items: flex-end;
    position: absolute;
    width: 200px;
    height: 100px;
    opacity: 1;
    background-image: url('../images/mail_expanded.png'); /* Set the hover image */
}

.github {
    align-items: flex-end;
    position: absolute;
    left: calc(50% + 50px);
    bottom: calc(0%-130px);
    background-image: url('../images/github.png'); /* Set the default image */
}

.github:hover {
    width: 200px;
    opacity: 1;
    background-image: url('../images/github_expanded.png'); /* Set the hover image */
}