body {
    background-color: #333333;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the screen */
}

.top {
    display: flex;
    font-size: 60px;
    font-family: verdana;
    font-weight: 700;
    color: #bebebe;
}

.top, .bottom {
    padding: 20px;
}

.middle {
    display: flex;
    flex: 1; /* take up remaining space */
    gap: 10px; /* space between the two middle sections */
}

.left, .right {
    flex: 1; /* 50:50 Split */
    background-color: #FF0000;
    padding: 20px;
    text-align: center;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}


.social-icon {
    width: 50px; /* Set the width and height of the container */
    height: 50px;
    background-size: cover; /* Ensure the background image covers the container */
}

.linkedin {
    position: absolute;
    bottom: 10px;
    right: 53%;
    background-image: url('../images/linkedin.png'); /* Set the default image */
}

.linkedin:hover {
    width: 200px;
    opacity: 1;
    background-image: url('../images/linkedin_expanded.png'); /* Set the hover image */
}

.mail {
    position: absolute;
    bottom: 10px;
    background-image: url('../images/mail.png'); /* Set the default image */
}

.mail:hover {
    width: 200px;
    height: 100px;
    opacity: 1;
    background-image: url('../images/mail_expanded.png'); /* Set the hover image */
}

.github {
    position: absolute;
    bottom: 10px;
    left: 53%;
    background-image: url('../images/github.png'); /* Set the default image */
}

.github:hover {
    width: 200px;
    opacity: 1;
    background-image: url('../images/github_expanded.png'); /* Set the hover image */
}