/* -------------------------- */
/*       Core Structure       */
/* -------------------------- */

body {
    background-color: #1a1e21;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the screen */
}

.top, .bottom {
    padding: 20px;
}

/* ----------------------- */
/*       Top Section       */
/* ----------------------- */

.top {
    display: flex;
    height: 10%; /* 10% of the screen */
    gap: 10px; /* space between the two middle sections */
}

.name, .nav {
    flex: 1; /* 50:50 Split */
    padding: 20px;
}

.name {
    display: flex;
    text-align: left;
    font-family: Verdana;
    font-weight: 700;
    font-size: 100px;
    align-items: center;
    color: #bebebe;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    font-family: Verdana;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    color: #bebebe;
}

.nav-buttons {
    padding-right: 25px;
}
/* -------------------------- */
/*       Middle Section       */
/* -------------------------- */

.middle {
    display: flex;
    flex: 1; /* take up remaining space */
    gap: 10px; /* space between the two middle sections */
    padding: 20px;
}

.left, .right {
    flex: 1; /* 50:50 Split */
    padding: 20px;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    background-color: #FF0000;
}

h1 {
    padding-top: 100px;
    font-size: 40px;
    font-family: verdana;
    font-weight: 700;
    color: #bebebe;
    padding: 20px;
}

ul {
    padding-left: 60px;
}

.details {
    font-size: 20px;
    padding: 20px;
    font-family: verdana;
    font-weight: 400;
    color: #bebebe;
}

/* -------------------------- */
/*       Bottom Section       */
/* -------------------------- */

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.social-icon {
    width: 50px; /* Set the width and height of the container */
    height: 50px;
    background-size: cover; /* Ensure the background image covers the container */
}

.linkedin {
    position: absolute;
    bottom: 10px;
    right: 53%;
    background-image: url('../images/linkedin.png'); /* Set the default image */
}

.linkedin:hover {
    width: 200px;
    opacity: 1;
    background-image: url('../images/linkedin_expanded.png'); /* Set the hover image */
}

.mail {
    position: absolute;
    bottom: 10px;
    background-image: url('../images/mail.png'); /* Set the default image */
}

.mail:hover {
    width: 200px;
    height: 100px;
    opacity: 1;
    background-image: url('../images/mail_expanded.png'); /* Set the hover image */
}

.github {
    position: absolute;
    bottom: 10px;
    left: 53%;
    background-image: url('../images/github.png'); /* Set the default image */
}

.github:hover {
    width: 200px;
    opacity: 1;
    background-image: url('../images/github_expanded.png'); /* Set the hover image */
}